@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');


html,body {
    min-height: 100%;
}

li {
  list-style: none;
}


.cabecalho {
    height: 75px;
    opacity: 0.9;
    box-shadow: 1px 3px 23px 0 rgba(15, 12, 12, 0.31);
    background-color: #fffefe !important;
  }

.Logo-ClubCar {
    width: 134px;
    height: 30px;
  }

.btn-cabecalho {
    width: 178px !important;
    height: 42px !important;
    border-radius: 21px !important;
    background-color: #00b0db !important;
    color: white !important;
    border: none !important;
    padding: 12px !important;
    font-family: Ubuntu !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    text-transform: none !important;
    box-shadow: none !important;
  }
  
  .entrar {
    
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .btn-quem-somos {
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding: 20px;
  }

  .menu-clubcar {
      width: 100%;
      list-style: none;
      display: flex;
      padding: 0px;
      
  }

  .breadcrumb-menu {
    max-width: 100%;
    height: 35px;
    background-color: #00b0db;
  }

  .breadcrumb-footer {
    max-width: 100%;
    height: 35px;
    background-color: #000000;
  }

  .cadastrar-oficina {
    margin-right: 23px;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  
  .cadastrar-oficina-link {
    font-weight: bold;
  }

  .texto-centro {
    width: 100%;
    object-fit: contain;
    font-family: Ubuntu;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    
  }

  .buscar-oficina {
    width: 356px;
    height: 42px;
    border-radius: 26.5px;
    border: solid 1px #000000;
    background-color: rgba(254, 254, 254, 0.9);
  }

  input[type=text] {
    
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
  }
   

  .img-background {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll; 

  }

  .background-secao-2 {
    background-image: url('../img/imagemfundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll; 

  }

  .no-padding {
      padding: 0px !important;
  }

  #menu ul li a { 
    color: #ffffff;
    text-decoration: none;
    
}

#menu-oficina li a { 
  color: #000000;
  text-decoration: none;
  font-family: Ubuntu;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  
  
}

#menu-oficina li a:hover {
  color:#00b0db;
  
}

#menu-cliente a { 
  color: #000000 !important;
  text-decoration: none;
  
}

#menu ul li a:hover {
    color:#000000;
    
}

#menu-cliente a:hover {
  color:#00aed9 !important;
  
}

.btn-oficina {
  width: 330px;
  height: 60px;
  opacity: 0.7;
  background-color: #00aed9;
  height: 70px;
}

.navbar-clubcar {
  width: 100%;
  height: 70px;
  opacity: 0.85;
  background-color: #ffffff;
  padding: 0px !important;
}

.text-oficina-menu {
  font-family: Ubuntu;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 22px
}

.text-oficina-menu-clique {
  font-weight: bold;
}

.text-cliente-menu {
  font-family: Ubuntu;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding-top: 22px
}

.text-cliente-menu-clique {
  font-weight: bold;
}

.slogan-oficina {
  width: 1022px;
  height: 48px;
  object-fit: contain;
  font-family: Ubuntu;
  font-size: 42px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.texto-app {
  font-family: Ubuntu;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #020203;
}

.Veja-como-funciona {
  font-family: Ubuntu !important;
  font-size: 60px !important;
  font-weight: 700 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #0b0b0b !important;
}

.Simples-passos-para {
  object-fit: contain !important;
  font-family: Ubuntu !important;
  font-size: 28px !important;
  font-weight: 300 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #000000 !important;
}

.Cadastro {
  object-fit: contain !important;
  font-family: Ubuntu !important;
  font-size: 28px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #00b0db !important;
}

.Passo {
  object-fit: contain !important;
  font-family: Ubuntu !important;
  font-size: 22px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #000000 !important;
}



.texto-card-secao-2 {
  object-fit: contain !important;
  font-family: Ubuntu !important;
  font-size: 20px !important;
  font-weight: 300 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #000000 !important;
}


.no-border-card {
  border: none !important;
  background-color: #f8f9fa00 !important;

}

.Vdeos-sobre {
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #000000;
}

.Atendimento {
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #000000;
}

.cor-icone {
  color: #00aed9 !important;
  margin-right: 6px;
  margin-bottom: 16px;

}

.Oficina-de-credibili {
  font-family: Ubuntu;
  font-size: 75px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0b0b0b;
  margin-bottom: 2px;
}

.Fale-com-um-de-nosso {
  font-family: Ubuntu;
  font-size: 34px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0b0b0b;
  margin-top: 44px;
}




/* footer */

.titulo-rodape {
  font-family: Ubuntu;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}


.link-rodape li {
font-family: Ubuntu;
font-style: normal;
font-weight: 200;
font-size: 21px;
line-height: 24px;
color: #FFFFFF;
margin-bottom: 5px;

}

#menu-rodape a { 
  color: #ffffff !important;
  text-decoration: none;
  
}

#menu-rodape a:hover {
    color:#00aed9 !important;
    
}

.Baixe-nosso-app {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 74px;
  margin-left: 40px;
}

.background-secao-6 {
  background-image: url('../img/ImagemLanding3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll ; 
}

.background-secao-5 {
  background-image: url('../img/secao5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll ;
  
}


.titulo-depoimento {
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-family: Ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #00b0db;
	left: 0;
	right: 0;
	bottom: -10px;
}

.titulo-oficinas {
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	font-family: Ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	
}

.col-center {
	margin: 0 auto;
	float: none !important;
}

.img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.testimonial {
  padding: 30px 0 10px;
  text-align: center
}

.testimonial-oficina {
  text-align: left;
  font-family: Ubuntu;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 3px !important;
}



.text-style-1-oficina {
  font-size: 30px;
  font-weight: 800;
}


.overview {	
	object-fit: contain;
  font-family: Ubuntu;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  
}




 .overview b {
	text-transform: uppercase;
	color: #00b0db;
}
.carousel-control {
	width: 40px;
  
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgb(255, 255, 255);
    text-shadow: 0 3px 3px #00b0db, 0 0 0 #00b0db;
}


.bg-cad {
  width: 80%;
  height: 70%;
  border-radius: 10px;
  background-color: #f6f5f5;
}

.form-nome {
  width: 400px !important;
  height: 30px;
  border-radius: 21px !important;
  border: solid 0.5px #979797 !important;
  background-color: rgba(254, 255, 255, 0.9) !important;
}

.btn-banner {
  width: 89px !important;
  height: 21px !important;
  border-radius: 10.5px !important;
  background-color: #00b0db !important;
}


.Tem-uma-oficina-Cli {
  font-family: Ubuntu;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 54px;
}

.Encontrar-uma-oficin {
  object-fit: contain;
  font-family: Ubuntu;
  font-size: 52px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.Baixe-o-app-Assim-v {
  object-fit: contain;
  font-family: Ubuntu;
  font-size: 34px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 5px;
}

.Baixe-o-app-Assim-v2 {
  object-fit: contain;
  font-family: Ubuntu;
  font-size: 34px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 5px;
}

.Baixe-o-app-Assim-v .text-style-1 {
  font-weight: bold;
}

.Saiba {
  object-fit: contain;
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: -0.4px;
  color: #00afdb;
}

.Busque-pela {
  object-fit: contain;
  font-family: Ubuntu;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.Busque-pela .text-style-1 {
  font-weight: bold;
}

.Line-4 {
  width: 1px;
  height: 119px;
  border: solid 1px #ffffff;
}

.Pode-confiar-Nosso {
  object-fit: contain;
  font-family: Ubuntu;
  font-size: 34px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: -0.49px;
  color: #ffffff;
}

.Pode-confiar-Nosso2 {
  object-fit: contain;
  font-family: Ubuntu;
  font-size: 34px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: -0.49px;
  color: #ffffff;
}
.Pode-confiar-Nosso .text-style-1 {
  font-weight: bold;
}

.Saiba2 {
  object-fit: contain;
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: -0.4px;
  color: #00afdb;
}


.cor-i-oficina {
  font-size: 38px !important;
	line-height: 42px !important;
    position: absolute !important;
    display: inline-block !important;
	color: rgb(0, 0, 0) !important;
    text-shadow: 0 3px 3px #000000, 0 0 0 #666666 !important;



}


.bg-cadastro-form {

    background-image: url('../img/ImagemLanding2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll; 


}

.passo {
  font-family: Ubuntu;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 25px;
text-align: center;

color: #00AED9;
}

.cadastro-rapido {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
  

}

.cargo {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
}

.botao-cadastro-um {
  font-family: Ubuntu !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  line-height: 17px !important;
  text-align: center !important;
  border-radius: 21px !important;
  background-color: #00b0db !important;
  color: #FFFFFF !important;

}

.form-endereco-cadastro {
  width: 818px !important;
  height: 30px;
  border-radius: 21px !important;
  border: solid 0.5px #979797 !important;
  background-color: rgba(254, 255, 255, 0.9) !important;
}

.indica-senha {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}

.font-dash {
  font-family: Ubuntu !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  color: #000000 !important;
  

}

.menu-destaque {
  background-color:white !important;
}

.menu-destaque :hover {
  background-color: #C8EEF8 !important;
}


